bin
build
repos
.classpath
.project
.settings
.gradle
.idea
*.log
*.class
*.war
gradle/wrapper/gradle-wrapper.jar
*.ear
*.bak
*.iml
*.ipr
*.iws
rebel.xml
rebel-remote.xml
*.sublime-workspace
*.DS_Store
*.ini
*.gradletasknamecache
*~
.metadata
